body, html {
    margin: 0;
    padding: 0;
}

html, body, #app, .main-layout {
    height: 100%;
}

body {
    background-color: white;
}

.container {
    margin: 2% auto 0 auto;
    width: auto;
    padding-left: 20px;
    padding-right: 20px;
}
