<template>


</template>
<script>

    export default {
        name: 'layout',
        data() {
            return {
            }
        },
        methods: {
        },

        mounted() {

        }
    }
</script>
